@page "/"
@using SAM.T.Protocol
@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<div class="dashboard-container">

    @if (appStates == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        @foreach (var appState in appStates)
        {
            <div class="app-card state-@(appState.State.ToString()?.ToLower() ?? "neutral")">

                <h3>@appState.ApplicationName</h3>
                <h6>State : @appState.State</h6>
                <h6>Response time : @appState.ResponseTimeDeviation</h6>
                
                @if (appState.Tags.Any())
                {
                    <div class="tags-container">
                        <h6>Tags:</h6>
                        @foreach (var tag in appState.Tags)
                        {
                            <span class="tag">@tag.Key:@tag.Value</span>
                        }
                    </div>
                }

            </div>
        }

    }

</div>

@code {
    private MonitoringState[]? appStates;

    protected override async Task OnInitializedAsync()
    {
        appStates = await Http.GetFromJsonAsync<MonitoringState[]>("https://localhost:7177/monitor");
    }
}
