.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: flex-start;
}

.app-card {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1em;

    min-width: 15em;
    flex-basis: auto;
}

.state-operational {
    background-color: #C8E6C9;
}

.state-degraded {
    background-color: #ffd480;
}

.state-error {
    background-color: #ff7961;
}

.tags-container {
    margin-top: 0.5em;
}

.tag {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 2px 6px;
    margin: 2px;
    font-size: 0.8em;
    color: #333;
}
